<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome Email</title>
  </head>
  <body>
    <h1>{{ body }}</h1>
    <p>Hello {{ name }},</p>
    Thank you for signing up with us. We are excited to have you as a part of our community. Feel free to explore our services and let us
    know if you have any questions.<br /><br />
    Best regards,<br />
    The Pangea Team
  </body>
</html>
